h2 {
  display: inline-block;
  color: #222;
  font-size: 32px;
}

.date {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  height: 70px;
}

.peers {
  width: 90%;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  top: 50px;
  padding: 0 0 35px 50px;
}

.peers span {
  font-size: 22px;
  color: #222222;
}

.peers p {
  font-weight: 1000;
  text-align: left;
  font-size: 14px;
  margin-left: 30px;
  color: #414141;
}

.peer {
  display: block;
  width: 95%;
  background-color: #ececf2;
  border-radius: 15px;
  height: 65px;
  margin-top: 20px;
  cursor: pointer;
}

.peer .name {
  float: left;
  /*margin-left: 30px;*/
  position: relative;
  color: #331969;
  font-family: "Gotham Pro", sans-serif;
  font-size: 22px;
  font-weight: 1000;
}

.peer .position {
  color: #edbd31;
  font-weight: 400;
  position: relative;
  float: right;
  right: 50px;
}

.chevron {
  position: absolute;
  font-size: 1.5em;
  right: 20px;
  color: #331969;
}

.dropbtn {
  background-color: #ececf2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #ececf2;
}

.rotate {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.peers-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  float: left;
  left: -25px;
  top: -22px;

  img {
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
}

.period {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .peers {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 20px;
    margin-bottom: 130px;

    h2 {
      font-size: 26px;
    }

    .period {
      font-size: 18px;
    }

    .peer.dropbtn {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      height: auto;

      .peers-pic {
        //position: static;
        width: 52px;
        height: 52px;
        left: -5px;
        top: 0;
        flex-shrink: 0;

        img {
          width: 52px;
          height: 52px;
        }
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 1;
        font-size: 18px;
      }

      .chevron {
        margin: 0 auto 0 0;
      }
    }
  }
}
