.block-container {
  margin-top: 30px;
  width: 90%;
  background: #ffffff;
  border-radius: 30px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.block-title {
  padding: 20px 15px 5px 35px;
}

.inside-wrapper {
  display: inline-block;
  margin-left: 45px;
  width: 95%;
}

.items {
  box-sizing: border-box;
  width: calc(100% - 15px);
  background-color: #f4f4fa;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  padding-left: 25px;
  margin-bottom: 5px;
  display: inline-block;
  float: left;
}

.rating-name {
  font-size: 22px;
}

.block-description {
  font-family: "Gotham Pro light", sans-serif;
  font-size: 15px;
  color: #2c286d;
  font-weight: 1000;
  margin: -20px 0 25px 35px;
}

.name-link {
  color: #2c286d;
  position: relative;
  left: -10px;
  text-decoration: none;
}

.peers-pic-raiting {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  float: left;
  left: -30px;

  img {
    width: 63px;
    height: 63px;
    object-fit: cover;
  }
}

.exit {
  background-color: #cd2525;
  font-family: "Gotham Pro light", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  border: none;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  float: right;
  right: 10px;
  top: 15px;
}

.add-peer {
  font-family: "Gotham Pro light", sans-serif;
  font-weight: 1000;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  background-color: #a5a4f5;
  color: white;
  padding: 20px 0;
  width: 200px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  //float: left;
  display: block;
  margin: 0 auto;

  &.review-close {
    background-color: #cd2525;
  }
}

.date-end,
.time-end {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 35px;

  span {
    margin-right: 10px;
    width: 300px;
  }
}

.question {
  padding: 5px 15px 5px 35px;

  &__number {
    margin: 15px 0;
    font-size: 20px;
  }

  &__title {
    margin: 10px 0;
  }

  &__input {
    color: #0d0d0d;
    padding: 15px 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #414141;
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &__save-status {
    text-align: center;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    font-size: 14px;
    padding: 0 15px 0 35px;
    height: 0;
    margin: 0;

    &.active {
      opacity: 1;
      height: min-content;
      margin: 15px;
    }
  }
}

.control-buttons {
  padding: 45px 15px 5px 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;

  .question {
    &-add,
    &-delete,
    &-standard {
      font-family: "Gotham Pro light", sans-serif;
      font-weight: 1000;
      letter-spacing: 1px;
      background-color: #c1c1ec;
      border: none;
      color: white;
      padding: 7px 15px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &-add:hover,
    &-standard:hover {
      background-color: rgba(140, 140, 245, 1);
      transition: 0.25s;
      cursor: pointer;
    }

    &-add:active,
    &-delete:active,
    &-standard:active {
      -moz-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -o-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }

    &-delete {
      background-color: #cd2525;
    }
  }
}

.stage-error {
  color: #cd2525;
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 800px) {
  .block-container {
    width: 100%;

    .date-end,
    .time-end {
      margin-left: 10px;
    }

    .block-title {
      font-size: 18px;
      padding: 20px 10px 5px;
      text-align: center;
    }

    .block-description {
      margin-left: 10px;
    }

    .inside-wrapper {
      width: calc(100% - 20px);
      margin: 0 10px;

      .grades {
        display: flex;
      }

      .items {
        font-size: 16px;
        width: auto;
        flex: 1;
        height: auto;
        line-height: 16px;
        padding-left: 15px;
        display: flex;
        align-items: center;

        .peers-pic-raiting {
          width: 60px;
          height: 60px;
          left: -10px;

          .avatar {
            width: 60px;
            height: 60px;
          }
        }

        .exit {
          top: 0;
          margin-left: auto;
        }
      }

      .grade {
        width: auto;
        margin-bottom: 5px;

        .grade-number {
          margin: 8px 10px;
        }
      }
    }
  }
}

.change-team {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px 5px 35px;

  select {
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 4px;
  }
}
