.text_rate {
  position: absolute;
  margin-top: 50px;
  margin-right: -88px;
  width: 270px;
  font-size: 16px !important;
}

b {
  background-color: #edbd31;
  border-radius: 50%;
  width: 10px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 200px;
  flex-wrap: wrap-reverse;
  margin-top: 15px;
  margin-left: 15px;

  .text_rate {
    margin: 0 0 10px;
    position: static;
  }
}

.rating input {
  display: none;
}

.rating label {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  margin-right: 7px;
  margin-top: -65px;

  &:hover,
  &:hover ~ label,
  &:has(input:checked),
  &:has(input:checked) ~ label {
    filter: grayscale(0);
  }
}

.instruction p {
  font-family: "Gotham Pro light", sans-serif;
  font-weight: 1000;
  font-size: 18px;
  margin: 0 20px;
}

.instruction span {
  font-weight: 1000;
  color: #222;
  position: relative;
}

.peers span {
  font-size: 22px;
  color: #222222;
}

.peers p {
  font-weight: 1000;
  text-align: left;
  font-size: 14px;
  margin-left: 30px;
  color: #414141;
}

.dropdown-content {
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-color: #ececf2;
  width: 100%;
  border-radius: 15px;
  transform: translateY(-50px);
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;

  &.show {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    visibility: visible;
    opacity: 1;
  }
}

.dropdown-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1366px) {
    width: 90%;
  }

  @media (max-width: 1100px) {
    width: calc(100% - 50px);
  }

  @media (max-width: 800px) {
    width: calc(100% - 20px);
  }
}

.ta {
  box-sizing: border-box;
  display: block;
  border-radius: 15px;
  border: 1px solid #8683f8;
  width: 100%;
  padding: 7px 10px;
  font-size: 16px;
  resize: none;
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 1.5;
  position: relative;
}

.dropdownTitle {
  margin: 20px 0 5px 0;
  color: #2b2b2b;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: left;
}

p.description {
  position: relative;
  font-family: "Gotham Pro light", sans-serif;
  font-size: 18px;
  width: 62%;
  font-weight: 1000;
  line-height: 18px;
  letter-spacing: -0.04em;
  margin: 0 0 10px 0;
  color: #3c3c3c;
}

input[type="submit"] {
  font-family: "Gotham Pro light", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  background-color: #a5a4f5;
  border: none;
  color: white;
  padding: 10px 7px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: 25px;
}

input[type="submit"]:active {
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.char-count {
  text-align: right;
  font-size: 14px;
  position: relative;
  top: -55px;
  right: 5%;
}

.chars,
.max {
  font-size: 14px !important;
  position: relative;
  display: inline-block;
  font-family: "Gotham Pro light", sans-serif;
  font-weight: 400;
  color: #979797;
}

.question {
  display: flex;
  width: 100%;
}

.user-text-input {
  flex: 1;
}

.errorForm {
  color: red !important;
  margin-left: 0 !important;
}

.feedback-manager {
  .show {
    transform: none;
    padding-top: 10px;
    margin-top: 40px;
  }

  .dropdown-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 1100px) {
  .dropdown-container {
    margin-left: 25px;
  }
}

@media (max-width: 800px) {
  .dropdown-content {
    width: 100%;

    .dropdown-container {
      margin: 0 10px;

      .dropdownTitle {
        text-align: center;
        font-size: 20px;
      }

      .description {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }

      .ta {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0;
      }

      .char-count {
        right: 10%;
        top: -25px;
      }

      .question {
        flex-direction: column;
      }

      .rating {
        position: static;
        float: none;
        width: 100%;
        justify-content: center;
        margin: 0 0 40px;

        .text_rate {
          text-align: center;
        }

        label {
          position: static;
          margin-top: 0;
        }
      }

      input[type="submit"] {
        margin: 0 auto 25px;
      }
    }
  }
}
